src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="17d78791-497c-42d1-9899-4f73193c8de8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="58278fff-7e76-43d7-a3f2-0c50480f4ca1" >
		<http:listener doc:name="Listener" doc:id="01e881a2-0a4f-4bb4-a561-6bbc0a4825eb" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="Hello World" doc:name="Set Payload" doc:id="ae47b1d3-826a-4cff-b792-bad8cc1f3aa7" />
		<logger level="INFO" doc:name="Logger" doc:id="82352237-97fe-40f1-b47c-89f5480ce1f8" message="#[payload]"/>
	</flow>
</mule>
